{% extends "base.html" %}

{% block title %}Accueil - Open Source Cémantix{% endblock %}

{% block content %}
    <h1 class="my-4 text-center">Bienvenue sur Open Source Cémantix</h1>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <form method="post">
        <div class="form-group">
            <label for="mode">Sélectionnez le mode de jeu :</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="facile" name="mode" value="f" required>
                <label class="form-check-label" for="facile">Facile</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="difficile" name="mode" value="d">
                <label class="form-check-label" for="difficile">Difficile</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Commencer le jeu</button>
    </form>
{% endblock %}

